#menu {
    display: flex;
}

#menu a {
    text-decoration: none;
    display: inline-block;   
    width: 160px;
    padding: 3px;
    color: #f7f8e8;
    text-align: center;
    border: 1px solid #eeeeee;
}

#menu p {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#menu p a:link {
    color: green;
}

#menu p a:visited {
    color: red;
}

#menu p a:hover {
    color: pink;
    background-color: #336699;
}

#menu p a:active {
    color: white;
    background-color: #336699;
}